
.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  margin: auto;
  width: 300px;
};

.formulario button{
  background: blueviolet;
}

#formulario input{
  border-color: blue;
}